* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global items starts */
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
/* global items ends */

body {
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(/img/giphy.gif);
  background-size: fit;
  background-position: center; */
  background-color: var(--main-bg1-color);
  color: var(--main-white-color);
}

header {
  position: sticky;
  top: 0;
}
header nav {
  /* background-color: var(--main-bg-color); */
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  background-color: rgba(48, 39, 39, 0.852);
}
header nav .logo {
  object-fit: contain;
}
header nav .logo img {
  width: 3.2rem;
  margin-left: 10vw;
  padding-top: 1px;
  cursor:not-allowed;
}
header nav ul {
  /* border: red solid black; */
  /* background-color: yellow; */
  /* list-style: none; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 150px;
}
header nav ul li {
  /* border: 2px solid black; */
  padding: 0.8em;
  font-size: 1.2rem;
  transition: 0.5s;
  transition-property:all;
}
header nav ul li a {
  /* text-decoration: none; */
  color: var(--main-white-color);
   
}
header nav ul li .modeToggle{
  padding:5px 10px;
}
header nav ul li:hover{
    background-color: grey;
    border-radius:10px;

}
.home-content {
  width: 100%;
  height: 100vh;
  /* color: var(--main-white-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.home-content h1 {
  font-weight: bold;
  font-size: 50px;
}
#about {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 300px;
  /* background-color: var(--main-bg2-color); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* color: var(--main-white-color); */
}
#about ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
#about ul li {
  margin: 10px;
}
#about ul li a {
  /* text-decoration: none; */
}
#about ul li a img {
  width: 45px;
}
#about .left img {
  width: 15rem;
}
#about .left {
  /* border: 2px solid green; */
}
#about .left img:hover {
  width: 16rem;
  /* overflow: hidden; */
}

#about .name span:hover {
  font-size: 28px;
  color: rgb(98, 219, 54);
}
#about .social img:hover{
  width: 50px;
}

#blog {
  height: 500px;
  /* background-color: var(--main-bg-color); */
}
#blog .blog-posts{
    /* border: 2px solid yellow; */
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
#blog h2{
    font-size: 30px;
    /* color: var(--main-white-color); */
    padding: 20px;

}
#blog .blog1{
    height: 55vh;
    width: 30%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
}
#blog .blog1 img{
    height: 10rem;
    width: 98%;
    margin: 4px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }
#blog .blog1 h3,#blog .blog1 p {
    padding: 10px;
}

#blog .blog2{
    height: 55vh;
    width: 30%;
    background-color: rgb(31, 30, 30);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius:10px;
}
#blog .blog2 img{
    height: 10rem;
    width: 98%;
    margin: 4px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }
#blog .blog2 h3,#blog .blog2 p{
    padding: 10px;
}

#blog .blog3{
    height: 55vh;
    width: 30%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
}
#blog .blog3 img{
    height: 10rem;
    width: 98%;
    margin: 4px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }
#blog .blog3 h3,#blog .blog3 p{
    padding: 10px;
}
#blog .blog1 .btn, .blog3 .btn{
    color: black;
    /* margin-bottom: 80px; */
}

#contact{
    height: 75vh;
    /* background-color:var(--main-bg1-color); */
    padding: 10px;
    
}
#contact-form{
    align-self: center;
}

#contact .form-list{
    /* border: 2.5px solid green; */
    background-color: var(--main-green-color);
    padding: 25px;
    width: 37vw;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;

}
#contact label{
    font-size: 25px;
    /* color:var(--main-white-color); */
}
#contact input{
    font-size: 20px;
    width: 30vw;
    margin-bottom: 10px;
    border: 1px solid var(--main-text-color);
    border-radius: 15px;
    padding: 5px 10px;
}
#contact textarea{
    font-size: 20px;
    width: 30vw;
    margin-bottom: 10px;
    border: 1px solid var(--main-text-color);
    border-radius: 15px;
    padding: 5px 10px;
    height: 20vh;
}
#contact .btn{
    width: 10vw;
    align-self: center;
    font-weight: bold;
}
footer{
    height: 25vh;
    /* background-color: var(--footer-black-color); */
    /* color: var(--main-white-color); */
    font-size: 1.2rem;
}
footer .footer-items a{
    color: var(--main-white-color);

}
footer .footer-items .social-icons img{
    width: 45px;
    /* border: 1px solid white; */
    border-radius: 25px;
    margin: 16px;

}
footer .footer-items .footer-links span{
    margin-left: 25px;
    padding: 7px;
}
footer .copyright{
    background-color: var(--main-green-color);
    margin-top: 8px;
}

/* Theme */
/* .dark{
  background-color: black;
  color: white;
} */
.light{
  /* border:3px solid green; */
  background-color: var(--main-white-color);
  color: var(--main-bg1-color);
} 